* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif; /* lub inna czcionka */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}